/* RESETS */
* {
   /* border: 1px solid rgba(223, 29, 29, 0.842);
    background-color: rgba(53, 41, 41, 0.568);*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {

}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}
a:hover {
    color: rgb(201, 57, 21);
}
ul {
    list-style: none;
}
h4,
li:first-child {
    margin-top:  12px;
}
li:last-child{
    margin-bottom: 20px;
}
#Meuheader,
aside p {
    font-weight: bold;
}
header div {
    display: inline-block;
    text-align: right;
    width: calc(100% - 128px);
    font-size: 16px;  
}
header div p:first-child {
    font-size: 2em;
}
header div p:first-child i {
    font-size: 1.2em;  
    transition: filter 0.8s ease-in-out; 
}
header div p:first-child i :hover {
    filter: drop-shadow(2px 2px 2px rgb(255,166,0));
}

/*.destaque {
    color: red
} */

.info-inicial,
aside{
    margin: 20px 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: rosybrown;
}
.meioAmeio {
    width: calc(50% - 3px);
    display: inline-block;
    vertical-align: text-top;
}
header,
footer {
    background-color: lightcoral;
    padding: 16px;
    background-image: linear-gradient(45deg, #d46658, #f0523d);
}
header {
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.5));
}
footer {
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.5));
    text-align: center;
    font-size: 18px;
    
}
section:first-child {
    text-align: center;
}
section:not(:first-child) {
    margin-top: 20px;
}
aside section h3 {
    text-align: center;
}
#Meuheader img{
    border-radius: 50px;
    transition: all 0.8s ease-in-out;
}
#Meuheader img:hover {
    transform: rotate(30deg) scale(1.05);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.info-inicial section h2 {
    margin-bottom: 20px;
}
.info-inicial img {
    transition: all 0.8s ease-in-out;
}
.info-inicial img:hover {
    filter: brightness(0.5);
}
article.portfolio {
    display: inline-block;
    width: 30%;
}
a[href="#Meuheader"]{
    background-color: rgba(255, 0, 0, 0.527);
    color: #fff;
    text-transform: lowercase;
    border-radius: 30px;
    display: block;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 5px;
    border: 2px solid;
    

}
